In [1]:
from reframe import Relation

country = Relation('country.csv')

In [16]:
country.query('governmentform == "Republic"').union(country.query('governmentform == "Monarchy"')).project(['name','governmentform'])

             name governmentform
3         Albania       Republic
4         Algeria       Republic
7          Angola       Republic
12        Armenia       Republic
18     Bangladesh       Republic
..            ...            ...
24         Bhutan       Monarchy
163         Qatar       Monarchy
182  Saudi Arabia       Monarchy
194     Swaziland       Monarchy
204         Tonga       Monarchy

[127 rows x 2 columns]

In [17]:
country,project(['continent'])

NameError: name 'project' is not defined

In [18]:
country.project(['continent'])

         continent
0             Asia
1           Europe
2    North America
4           Africa
5          Oceania
11   South America
232     Antarctica

In [1]:
country.query('continent == "Antarctica"').project(['code','name']).cartesian_product(country.query('continent == "Antarctica"').project(['code','name']))

NameError: name 'country' is not defined

In [4]:
country.groupby('continent').count()

AttributeError: Cannot access callable attribute '_get_axis' of 'DataFrameGroupBy' objects, try using the 'apply' method

In [ ]:
country.groupby(['continent','region']).count().reset_index()

In [ ]:
country.groupby('continent')

In [ ]:
import pandas as pd

In [ ]:
type(pd.core.groupby.DataFrameGroupBy)